header
    .logo
        p.logo__text
            | &YAcy;&zcy;&ycy;&kcy;&icy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
    nav
        a.nav__link.nav__link_activated(href='#') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
        a.nav__link(href='#') &Rcy;&iecy;&jcy;&tcy;&icy;&ncy;&gcy;
        a.nav__link(href='#') &Ocy; &scy;&acy;&jcy;&tcy;&iecy;